<div class="TableName">
  Table
</div>
<table mat-table  class="mat-elevation-z8">
  <tbody>
  <tr>
    <th>№</th>
    <th>p1</th>
    <th>p2</th>
    <th>p3</th>
    <th>Действие</th>
    <th>Действие</th>
  </tr>
  <tr *ngFor="let n of pressureList">
    <td>{{n.id}}</td>
    <td>{{n.p1}}</td>
    <td>{{n.p2}}</td>
    <td>{{n.p3}}</td>
    <td>
      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(n.id)">Редактировать</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="remove(n.id)">Удалить</button>
    </td>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Окно редактирование</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        №
        <input placeholder="{{pressureList[idNum].id}}">
        <br>
        <br>
        p1
        <input placeholder="{{pressureList[idNum].p1}}">
        <br>
        <br>
        p2
        <input placeholder="{{pressureList[idNum].p2}}">
        <br><br>
        p3
        <input placeholder="{{pressureList[idNum].p3}}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>





